<div id="trend1" class="col-lg-12 col-md-12 col-xs-12 show-topics">
    <a href="/topics"><button class="btn btn-primary" id="back-button">Back</button></a>
    <div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="col-lg-3"><a href="#"><i class="fa fa-thumbs-down" aria-hidden="true" style="color: #FC001C;"></i></a></div>
        <div class="col-lg-6" style="padding-top: 2px;">{{posts.name}}</div>
        <div class="col-lg-3"><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true" style="color: #00B226;"></i></a></div>
        <hr style="margin-top: 52px; border-color:#aaa;">
    </div>
    <div class="panel-body">
        <h6>&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Author: <small>{{posts.author}}</small></h6>
        <h6><i class="fa fa-connectdevelop" aria-hidden="true"></i> &nbsp;&nbsp;Nuance Points: {{posts.points}} </h6>
        <h6>&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;&nbsp;Posted On: <small>{{posts.createdAt}}</small> </h6>
        <h6>&nbsp;<i class="fa fa-rss" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Last Updated: <small>{{posts.updatedAt}}</small></h6>
        <hr style="margin-top: 32px; border-color:#aaa;">
        <p>{{posts.body}}</p>
        {{#if currentUser.show}}
            <a class="btn-default edit-delete-buttons" id="get-a-quote" href="/topics/{{posts.id}}/edit" style="text-decoration: none !important">EDIT</a>
            <form id="delete" method="POST" action="/topics/{{posts.id}}?_method=DELETE">
                <button type="submit" class="btn-default edit-delete-buttons" id="get-a-quote" href="/register">DELETE</button>
            </form>
        {{/if}}
    </div>
</div>